body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: #3c6aff;  */
  /* background: #f0f0f0 url("../PokeBackground.png") fixed repeat; */
  /* backdrop-filter: brightness(3) saturate(1.5); */
}
